<img src="images/banner-bg.jpg" alt="banner" />
<div class="container banner-content">
	<div id="da-slider" class="da-slider">
		{{#each model.slider as |current|}}
		{{slider-item model=current}}
		{{/each}}
		<!--  <nav class="da-arrows">
						<span class="da-arrows-prev"></span>
						<span class="da-arrows-next"></span>
		</nav> -->
	</div>
</div>
